@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Yaldevi&display=swap");
:root {
  font-size: 18px;
  font-family: "Yaldevi", "Montserrat", sans-serif;
  --color0: #222831;
  --color1: #393e46;
  --color2: #00adb5;
  --color3: #eeeeee;
}


#h2over {
  background-color: #393e4683;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#indexheader a:hover {
  background-color: #393e4683;
}
* a {
  font-family: "Montserrat",sans-serif;
  text-decoration: none;
  }

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  color: var(--color0);
}

footer {
  padding: 1vh 2vh;
  display: flex;
  margin-bottom: 0rem;
  background: var(--color2);
  bottom: 0;
}

#inicio {
  align-items: flex-start;
  width: 40%;
}

textarea {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: scroll;
}

#contacts-form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--color3);
  background-color: var(--color1);
}

input[type="submit"]:hover {
  background-color: var(--color2);
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#hOverlay {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}/*
.contentContainer{
  display:flex;
  padding: 2.5%;
  height: 60vh;
  background-color: white;
  background-position: center ;
  background-size: cover;
  color: var(--color1);
}
*/
.social-list {
  display: flex;
  flex-flow: row;
  flex-basis: 3;
  color: #222831;
}

.soc-item {
  list-style: none;
  height: 100%;
  width: 50px;
  color: var(--color3);
  transition: font-size 200ms;
  padding: 1.2vh;
}

#logo-img {
  animation-name: girar;
  animation-duration: 1.7s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes girar {
  0% {
    color: hsl(183, 100%, 35%);
    transform: rotate(0deg);
  }
  25% {
    color: hsl(193, 100%, 35%);
    transform: rotate(90deg);
  }
  50% {
    color: hsl(203, 100%, 35%);
    transform: rotate(180deg);
  }
  75% {
    color: hsl(193, 100%, 35%);
    transform: rotate(270deg);
  }
  100% {
    color: hsl(183, 100%, 35%);
    transform: rotate(360deg);
  }
}
/*sass made css */
.header {
  height: 10vmax;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #eeeeee;
  text-decoration: none;}
  .header svg {
    color: var(--color2);
    width: 150px; }

.header--proyect {
  height: 10vmax;
  align-items: center; }

.header--index {
  background-image: url(../assets/bg-index-header.jpg);
  background-size: cover;
  height: 100vh;
  margin:0;
  padding: 0;
  display: flex;
  color: #eeeeee; }
  .header--index svg {
    color: #00adb5;
    width: 150px; }
  .header--index a {
    text-decoration: none;
    color: #eeeeee;
    height: 100vh;
    width: 98.5vw; 
    display: flex;
    transition: 350ms;
    align-items: center;
    justify-content: center;}
  .header--index a:hover {
    background-color: #393e4683; }

.header__titleSpan--index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navbar {
  position: sticky;
  background-color: #222831;
  transition: width 300ms ease;
  overflow: hidden;
  height: 3rem; }

.navbar__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-basis: 7rem; }

.navbar__item {
  list-style: none;
  height: 100%;
  transition: 500ms;
  padding:0.5vh; }
  .navbar__item a {
    display: flex;
    align-items: center;
    color: #eeeeee88;
    height: 100%;
    text-decoration: none; }
  .navbar__item svg {
    color: black;
    transition: color 200ms;
    width: 40px;
   }

.navbar__item:first-child {
  background-color: #00adb5;
  align-content: flex-start; }
  .navbar__item:first-child:hover svg {
  color: white; }

.navbar__item:hover { background-color: #445c7c; }
.navbar__item a:hover { color:#eeeeee; }

.background--proyect{
  background-image: url(../assets/work.jpg);
  background-size: cover;
}

.contentContainer {
  padding: 2.5%;
  height: 100vh;
  padding: auto; }

.contentContainer--index {
  padding: 2.5%;
  height: 100vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/bg-index-min.jpg); }
  .contentContainer--index p {
    width: 100%; }

.contentContainer--indexCards {
  padding: 2.5%;
  height: 100vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  display: grid;
  grid: auto auto auto; }

.contentContainer--proyect {
  padding: 2.5%;
  height: 40vh;
  width: 80vw;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  padding: auto; }
  
.indexCard--SiteMap {
  background-color: #00adb5;
  padding: 2%;
  margin: 0.5rem;
  border-radius: 15px;
  box-shadow: #393e4683 5px 5px 5px;
  padding: 0.75rem; }
  
.indexCard--Business {
  grid-area: 1/1/ span 1 / span 3;
  margin: 0.5rem;
  padding: 2%;
  border-radius: 15px;
  box-shadow: #393e4683 5px 5px 5px;
  font-size: 36px;
  color: var(--color3);
  background-size: cover;
  background-position: 15% 25%;
  background-image: url(../assets/work.jpg); }

.indexCard--Proyect {
  margin: 0.5rem;
  font-size: 36px;
  padding: 2%;
  color: var(--color3);
  border-radius: 15px;
  box-shadow: #393e4683 5px 5px 5px;
  background-size: cover;
  background-image: url(../assets/proyect.jpg); }

.indexCard--Service {
  margin: 0.5rem;
  padding: 2%;
  font-size: 36px;
  color: var(--color3);
  border-radius: 15px;
  box-shadow: #393e4683 5px 5px 5px;
  background-size: cover;
  background-image: url(../assets/support.jpg); }

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}


/* Small screens */
@media only screen and (max-width: 720px) {
  body {
    background-color: white;
  }

  footer {
    display: none;
  }

  .logo {
    display: none;
  }

  main {
    width: 90%;
  }

  .mainBody {
    margin: 2vw;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
  }
  .nav-link span {
    display: hidden;
  }
}
