@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Yaldevi&display=swap");
/* Variables Globales*/
body {
  margin: 0;
  padding: 0;
  font-family: "Yaldevi", "Montserrat", sans-serif;
  font-size: 18px; }

html {
  scroll-behavior: smooth; }

.header {
  background-image: url(../assets/bg-index-pages.jpg);
  background-position: center center;
  background-size: cover;
  height: 10vmax;
  align-items: center; }
  .header svg {
    color: var(--color2);
    width: 150px; }

.header--index {
  background-image: url(../assets/bg-index-header.jpg);
  background-size: cover;
  height: 95vh;
  align-items: center;
  color: #eeeeee; }
  .header--index svg {
    color: #00adb5;
    width: 150px; }
  .header--index a:hover {
    background-color: #393e4683; }

.header__titleSpan--index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navbar {
  position: sticky;
  background-color: #222831;
  transition: width 300ms ease;
  overflow: hidden;
  height: 3.5rem; }

.navbar__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-basis: 7rem; }

.navbar__item {
  list-style: none;
  height: 100%;
  color: #eeeeee;
  transition: font-size 200ms;
  padding: 1.2vh; }
  .navbar__item a {
    color: #eeeeee;
    height: 100%;
    text-decoration: none; }

.navbar__item:first-child {
  background-color: #00adb5;
  align-content: flex-start; }

.navbar__item:hover {
  font-size: 24px;
  background-color: #445c7c; }

.contentContainer {
  display: flex;
  padding: 2.5%;
  height: 60vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  padding: auto; }

.contentContainer--index {
  display: flex;
  padding: 2.5%;
  height: 60vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/bg-index-min.png); }

.contentContainer--indexContent {
  padding: 2.5%;
  height: 60vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  display: grid;
  grid: auto auto auto; }

.contSiteMap {
  background-color: #00adb5;
  padding: 0.75rem; }

.contBusiness {
  grid-area: 1/1/ span 1 / span 3;
  background-color: #393e46; }

.contProyect {
  background-color: coral; }

.contService {
  background-color: cornflowerblue; }
